---
layout: page
title: Thingies
permalink: /thingies/
hero_image: /images/thingies.jpg
---
<button
  type="button"
  class="collapsible toc-collapsible"
  aria-expanded="false"
  aria-controls="thingiesTableOfContents">
  Table of Contents
</button>
<div class="collapse-content" id="thingiesTableOfContents">
  <div class="toc">
    <ul>
      {% assign posts = site.thingies_articles | sort: 'order' | reverse %}
      {% for item in posts %}
        <li>
          <a href="#{{ item.slug }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% for item in posts %}
  <section class="item-block" id="{{ item.slug }}">
    {% if item.image %}
      <figure class="item-cover">
        <img src="{{ item.image | relative_url }}" alt="{{ item.title }}" />
      </figure>
    {% endif %}
    <p><em>{{ item.date | date: "%d %B %Y" }}</em></p>
    {{ item.content }}
    <ul class="icons item-link">
      <li>
        <a
          href="#{{ item.slug }}"
          class="icon solid fa-share share-article"
          data-share-hash="#{{ item.slug }}"
          aria-label="Copy link to {{ item.title }}"
          title="share">
          <span class="label">Copy share link</span>
        </a>
      </li>
    </ul>
  </section>
{% endfor %}
